<template>
  <div>
    <el-table  style="width: 100%" :span-method="objectSpanMethod">
      <el-table-column
        label="统计
日期"
      >
      </el-table-column>
      <el-table-column label="牌号"> </el-table-column>
      <el-table-column label="钢坯投入/t"> </el-table-column>
      <el-table-column label="钢坯投入/t"> </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  created() {
    console.log(this.table);
  },
  mounted() {
    // 注意一定要保证DOM渲染完成后在进行合并操作，否则会找不到元素
    this.$nextTick(function() {
      this.setColSpan();
    });
  },
  data() {
    return {

      guige: [
        {
          gjguige: "12",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          gjguige: "14",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          gjguige: "16",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          gjguige: "18",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          gjguige: "20",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          gjguige: "22",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          gjguige: "25",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          gjguige: "小计",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        }
      ],
      // 表格数据
      tableData: {
        // 表名
        name: "轧钢厂生产日报表 ",
        // 制表人
        zbren: "制表：李玉星",
        // 审核人
        shren: "审核：沈庆登",
        daysAll: {
          dayData: {
            //   本日统计名字
            title: "本日统计",
            // 牌号数据
            paihao: [
              {
                //牌号的名称
                name: "带肋钢筋直条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "落地坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "0.000"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "12",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "14",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "16",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "18",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "20",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "22",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "25",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              },
              {
                //牌号的名称
                name: "光园钢筋盘条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "落地坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "0.000"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "6",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "6.5",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "8",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "10",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              },
              {
                //牌号的名称
                name: "带肋钢筋盘条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "668.710"
                  },
                  {
                    name: "落地坯量/t",
                    value: "603.470"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "668.710"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "27.727"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "6",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "8",
                    gjzl_num: "422",
                    gjzl_weight: "677.817",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "674.826",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "10",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "422",
                    gjzl_weight: "677.817",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "674.826",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              }
            ]
          },
          //   每日统计
          daytongji: {
            name: "本日统计",
            gptr: "钢坯投入/t",
            gptr_num: "696.437",
            child: {
              gjguige: "综合",
              gjzl_num: "422",
              gjzl_weight: "677.817",
              gpbhg_num: "0",
              gpbhg_weight: "0.000",
              ygbhg_num: "0",
              ygbhg_weight: "0.000",
              hgpyz_weight: "0.000",
              hgpaj_weight: "0.000",
              hgpbj_weight: "0.000",
              yghgp: "674.826",
              fcd_num: "0",
              fcd_weight: "0.000"
            }
          }
        },
        monthsAll: {
          monthData: {
            //   本月统计名字
            title: "本日统计",
            // 牌号数据
            paihao: [
              {
                //牌号的名称
                name: "带肋钢筋直条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "1416.266"
                  },
                  {
                    name: "落地坯量/t",
                    value: "722.921"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "1416.266"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "1003.874"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "12",
                    gjzl_num: "1",
                    gjzl_weight: "1.442",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "1.442",
                    fcd_num: "1",
                    fcd_weight: "1.442"
                  },
                  {
                    gjguige: "14",
                    gjzl_num: "406",
                    gjzl_weight: "938.949",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "2",
                    ygbhg_weight: "4.516",
                    hgpyz_weight: "896.194",
                    hgpaj_weight: "6.871",
                    hgpbj_weight: "23.713",
                    yghgp: "934.433",
                    fcd_num: "6",
                    fcd_weight: "7.655"
                  },
                  {
                    gjguige: "16",
                    gjzl_num: "593",
                    gjzl_weight: "1389.488",
                    gpbhg_num: "28",
                    gpbhg_weight: "64.633",
                    ygbhg_num: "55",
                    ygbhg_weight: "131.848",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "39.217",
                    hgpbj_weight: "155.104",
                    yghgp: "1257.640",
                    fcd_num: "7",
                    fcd_weight: "10.646"
                  },
                  {
                    gjguige: "18",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "20",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "22",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "25",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "1000",
                    gjzl_weight: "2329.879",
                    gpbhg_num: "28",
                    gpbhg_weight: "64.633",
                    ygbhg_num: "55",
                    ygbhg_weight: "131.848",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "39.217",
                    hgpbj_weight: "155.104",
                    yghgp: "1257.640",
                    fcd_num: "7",
                    fcd_weight: "10.646"
                  }
                ]
              },
              {
                //牌号的名称
                name: "光园钢筋盘条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "落地坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "0.000"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "6",
                    gjzl_num: "320",
                    gjzl_weight: "509.920",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "509.290",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "6.5",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "8",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "10",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "320",
                    gjzl_weight: "509.290",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "509.290",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              },
              {
                //牌号的名称
                name: "带肋钢筋盘条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "4621.768"
                  },
                  {
                    name: "落地坯量/t",
                    value: "1089.799"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "4621.768"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "1066.104"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "6",
                    gjzl_num: "557",
                    gjzl_weight: "895.076",
                    gpbhg_num: "1",
                    gpbhg_weight: "1.628",
                    ygbhg_num: "5",
                    ygbhg_weight: "6.288",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "888.788",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "8",
                    gjzl_num: "2556",
                    gjzl_weight: "4118.139",
                    gpbhg_num: "5",
                    gpbhg_weight: "8.013",
                    ygbhg_num: "20",
                    ygbhg_weight: "23.878",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "4094.261",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "10",
                    gjzl_num: "342",
                    gjzl_weight: "554.262",
                    gpbhg_num: "3",
                    gpbhg_weight: "4.482",
                    ygbhg_num: "3",
                    ygbhg_weight: "4.189",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "550.073",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "3455",
                    gjzl_weight: "5567.477",
                    gpbhg_num: "9",
                    gpbhg_weight: "14.483",
                    ygbhg_num: "28",
                    ygbhg_weight: "34.355",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "5533.122",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              }
            ]
          },
          //   每月统计
          monthtongji: {
            name: "本日统计",
            gptr: "钢坯投入/t",
            gptr_num: "8108.012",
            child: {
              gjguige: "综合",
              gjzl_num: "4775",
              gjzl_weight: "8406.646",
              gpbhg_num: "37",
              gpbhg_weight: "79.116",
              ygbhg_num: "85",
              ygbhg_weight: "170.719",
              hgpyz_weight: "896.194",
              hgpaj_weight: "46.088",
              hgpbj_weight: "178.817",
              yghgp: "8235.927",
              fcd_num: "14",
              fcd_weight: "19.743"
            }
          }
        },
        brgptj: {
          //   钢坯入库
          in: {
            name: "钢坯入库",
            data: [
              {
                guige: "SY2#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY2#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY3#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY4#",
                num: "780.0",
                weight: "1272.180"
              },
              {
                guige: "SY1#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "合计",
                num: "780.0",
                weight: "1272.180"
              }
            ]
          },
          // 钢坯出库
          out: {
            name: "钢坯出库",
            data: [
              {
                guige: "SY2#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY2#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY3#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY4#",
                num: "427.0",
                weight: "696.437"
              },
              {
                guige: "SY1#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "合计",
                num: "427.0",
                weight: "696.437"
              }
            ]
          }
        },
        // 备注
        remark: {
          // 电耗
          dianhao: [
            {
              name: "加热电耗",
              value: ""
            },
            {
              name: "轧制电耗",
              value: ""
            },
            {
              name: "总电耗",
              value: ""
            },
            {
              name: "吨钢加热电耗",
              value: ""
            },
            {
              name: "吨钢轧制电耗",
              value: ""
            },
            {
              name: "吨钢生产电耗",
              value: ""
            }
          ],
          // 工作记录
          work: [
            {
              name: "开机时间",
              value: "15:15"
            },
            {
              name: "停机时间",
              value: "14:25"
            },
            {
              name: "生产时长（分钟）",
              value: "490"
            },
            {
              name: "故障时长（分钟）",
              value: "900"
            },
            {
              name: "作业率",
              value: "35.25"
            }
          ],
          // 备注信息
          text:
            "线材投入热坯投入410吨668.71吨，冷坯投入17支27.727吨，轧钢原因不合格为1件多头1.55吨，2件重量轻1.441吨."
        },
        // 其他部分
        other: [
          {
            name: "jzqll",
            value: ""
          },
          {
            name: "kzrhtp",
            value: ""
          },
          {
            name: "brygzf",
            value: "5.0"
          },
          {
            name: "byygzf",
            value: "22.0"
          },
          {
            name: "brlgsd",
            value: ""
          },
          {
            name: "bylgsd",
            value: "4.5"
          }
        ]
      },
      tableData3: [
        {
          date: "2016-05-03",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333
        },
        {
          date: "2016-05-02",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333
        },
        {
          date: "2016-05-04",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333
        },
        {
          date: "2016-05-01",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333
        },
        {
          date: "2016-05-08",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333
        },
        {
          date: "2016-05-06",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333
        },
        {
          date: "2016-05-07",
          name: "王小虎",
          province: "上海",
          city: "普陀区",
          address: "上海市普陀区金沙江路 1518 弄",
          zip: 200333
        }
      ]
    };
  },
  methods: {
    //  合并表头
    setColSpan: function() {
      // console.log(document.getElementsByClassName("el-table__header"))
      // 获取表头的所有单元格
      var x = document.getElementsByClassName("el-table__header")[0].rows[0]
        .cells;
      // 将第二列表头单元格的colSpan设为2
      x[2].colSpan = 2;
      // 将第三列表头单元格的display设为none
      x[3].style.display = "none";
    },

    //  合并列
    arraySpanMethod({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 1) {
        if (columnIndex === 2) {
          return [1, 2];
        } else if (columnIndex === 1) {
          return [0, 0];
        }
      }
    },
    // 合并行
    objectSpanMethod({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 0 || columnIndex === 1) {
        if (rowIndex === 0) {
          return {
            rowspan: 8,
            colspan: 1
          };
        } else {
          return {
            rowspan: 0,
            colspan: 0
          };
        }
      }
    }
  }
};
</script>

<style></style>
