<template>
  <div>
    <el-table :data="guige1" style="width: 100%" :span-method="arraySpanMethod">
      <el-table-column prop="name" label="统计日期"> </el-table-column>
      <el-table-column prop="typeName" label="牌号"> </el-table-column>
      <el-table-column label="钢坯投入/t">
        <el-table-column label="棒材钢坯投入量">
          <el-table-column label="热送坯量/t"> </el-table-column>
          <el-table-column label="落地坯量/t"> </el-table-column>
          <el-table-column label="棒材热送投入/t"> </el-table-column>
          <el-table-column label="棒材冷坯投入"> </el-table-column>
        </el-table-column>
      </el-table-column>

      <el-table-column prop="gjguige" label="钢筋规格"> </el-table-column>
      <el-table-column prop="gjzl_num" label="钢筋产量/t">
        <el-table-column label="钢筋总量">
          <el-table-column prop="gjzl_weight" label="件数"> </el-table-column>
          <el-table-column prop="gpbhg_num" label="重量/t"> </el-table-column>
        </el-table-column>
        <el-table-column label="钢坯原因不合格品">
          <el-table-column prop="gpbhg_weight" label="件数"> </el-table-column>
          <el-table-column prop="gpbhg_weight" label="重量/t">
          </el-table-column>
        </el-table-column>
        <el-table-column label="轧钢原因不合格品">
          <el-table-column prop="ygbhg_weight" label="件数"> </el-table-column>
          <el-table-column prop="ygbhg_weight" label="重量/t">
          </el-table-column>
        </el-table-column>
        <el-table-column label="合格品">
          <el-table-column prop="hgpyz_weight" label="优质品重量/t">
          </el-table-column>
          <el-table-column prop="hgpaj_weight" label="A级品重量/t">
          </el-table-column>
          <el-table-column prop="hgpbj_weight" label="B级品重量/t">
          </el-table-column>
        </el-table-column>
        <el-table-column prop="yghgp" label="轧钢合格品"> </el-table-column>
        <el-table-column label="非定尺">
          <el-table-column prop="fcd_num" label="件数"> </el-table-column>
          <el-table-column prop="fcd_weight" label="重量/t"> </el-table-column>
        </el-table-column>
        <el-table-column
          prop="yghgl"
          label="轧钢合格率
/%"
        >
        </el-table-column>
        <el-table-column
          prop="zccl"
          label="总成材率
/%"
        >
        </el-table-column>
        <el-table-column
          prop="dcl"
          label="定尺率
/%"
        >
        </el-table-column>
        <el-table-column
          prop="rsl"
          label="热送率
/%"
        >
        </el-table-column>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  created() {
    this.dayMonth();
  },

  data() {
    return {
      test: { a: 123, b: 234 },
      guige1: [
        {
          name: "本日统计",
          typeName: "带肋钢筋直条",
          gjguige: "12",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "带肋钢筋直条",
          gjguige: "14",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "带肋钢筋直条",
          gjguige: "16",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "带肋钢筋直条",
          gjguige: "18",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "带肋钢筋直条",
          gjguige: "20",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "带肋钢筋直条",
          gjguige: "22",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "带肋钢筋直条",
          gjguige: "25",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },{
               name: "本日统计",
          typeName: "带肋钢筋直条",
          gjguige: "小计",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },


        {
          name: "本日统计",
          typeName: "光圆钢筋盘条",
          gjguige: "6",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "光圆钢筋盘条",
          gjguige: "6.5",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "光圆钢筋盘条",
          gjguige: "8",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "光圆钢筋盘条",
          gjguige: "10",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "光圆钢筋盘条",
          gjguige: "小计",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "带肋钢筋盘条",
          gjguige: "6",
          gjzl_num: "557",
          gjzl_weight: "895.076",
          gpbhg_num: "1",
          gpbhg_weight: "1.628",
          ygbhg_num: "5",
          ygbhg_weight: "6.288",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "888.788",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "带肋钢筋盘条",
          gjguige: "8",
          gjzl_num: "2556",
          gjzl_weight: "4118.139",
          gpbhg_num: "5",
          gpbhg_weight: "8.013",
          ygbhg_num: "20",
          ygbhg_weight: "23.878",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "4094.261",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本日统计",
          typeName: "带肋钢筋盘条",
          gjguige: "10",
          gjzl_num: "342",
          gjzl_weight: "554.262",
          gpbhg_num: "3",
          gpbhg_weight: "4.482",
          ygbhg_num: "3",
          ygbhg_weight: "4.189",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "550.073",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
          {
          name: "本日统计",
          typeName: "带肋钢筋盘条",
          gjguige: "小计",
          gjzl_num: "342",
          gjzl_weight: "554.262",
          gpbhg_num: "3",
          gpbhg_weight: "4.482",
          ygbhg_num: "3",
          ygbhg_weight: "4.189",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "550.073",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋直条",
          gjguige: "12",
          gjzl_num: "1",
          gjzl_weight: "1.442",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "1.442",
          fcd_num: "1",
          fcd_weight: "1.442",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋直条",
          gjguige: "14",
          gjzl_num: "406",
          gjzl_weight: "938.949",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "2",
          ygbhg_weight: "4.516",
          hgpyz_weight: "896.194",
          hgpaj_weight: "6.871",
          hgpbj_weight: "23.713",
          yghgp: "934.433",
          fcd_num: "6",
          fcd_weight: "7.655",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋直条",
          gjguige: "16",
          gjzl_num: "593",
          gjzl_weight: "1389.488",
          gpbhg_num: "28",
          gpbhg_weight: "64.633",
          ygbhg_num: "55",
          ygbhg_weight: "131.848",
          hgpyz_weight: "0.000",
          hgpaj_weight: "39.217",
          hgpbj_weight: "155.104",
          yghgp: "1257.640",
          fcd_num: "7",
          fcd_weight: "10.646",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋直条",
          gjguige: "18",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋直条",
          gjguige: "20",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋直条",
          gjguige: "22",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋直条",
          gjguige: "25",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
          {
          name: "本月统计",
          typeName: "带肋钢筋直条",
          gjguige: "小计",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "光圆钢筋盘条",
          gjguige: "6",
          gjzl_num: "320",
          gjzl_weight: "509.920",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "509.290",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "光圆钢筋盘条",
          gjguige: "6.5",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "光圆钢筋盘条",
          gjguige: "8",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "光圆钢筋盘条",
          gjguige: "10",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
         {
          name: "本月统计",
          typeName: "光圆钢筋盘条",
          gjguige: "小计",
          gjzl_num: "0",
          gjzl_weight: "0.000",
          gpbhg_num: "0",
          gpbhg_weight: "0.000",
          ygbhg_num: "0",
          ygbhg_weight: "0.000",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "0.000",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋盘条",
          gjguige: "6",
          gjzl_num: "557",
          gjzl_weight: "895.076",
          gpbhg_num: "1",
          gpbhg_weight: "1.628",
          ygbhg_num: "5",
          ygbhg_weight: "6.288",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "888.788",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋盘条",
          gjguige: "8",
          gjzl_num: "2556",
          gjzl_weight: "4118.139",
          gpbhg_num: "5",
          gpbhg_weight: "8.013",
          ygbhg_num: "20",
          ygbhg_weight: "23.878",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "4094.261",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        },
        {
          name: "本月统计",
          typeName: "带肋钢筋盘条",
          gjguige: "10",
          gjzl_num: "342",
          gjzl_weight: "554.262",
          gpbhg_num: "3",
          gpbhg_weight: "4.482",
          ygbhg_num: "3",
          ygbhg_weight: "4.189",
          hgpyz_weight: "0.000",
          hgpaj_weight: "0.000",
          hgpbj_weight: "0.000",
          yghgp: "550.073",
          fcd_num: "0",
          fcd_weight: "0.000",
          yghgl: "0.000",
          zccl: "0.000",
          dcl: "0.000",
          rsl: "0.000"
        }
      ],
      // 表格数据
      tableData: {
        // 表名
        name: "轧钢厂生产日报表 ",
        // 制表人
        zbren: "制表：李玉星",
        // 审核人
        shren: "审核：沈庆登",
        daysAll: {
          dayData: {
            //   本日统计名字
            title: "本日统计",
            // 牌号数据
            typeName: [
              {
                //牌号的名称
                name: "带肋钢筋直条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "落地坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "0.000"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "12",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "14",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "16",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "18",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "20",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "22",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "25",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              },
              {
                //牌号的名称
                name: "光园钢筋盘条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "落地坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "0.000"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "6",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "6.5",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "8",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "10",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              },
              {
                //牌号的名称
                name: "带肋钢筋盘条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "668.710"
                  },
                  {
                    name: "落地坯量/t",
                    value: "603.470"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "668.710"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "27.727"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "6",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "8",
                    gjzl_num: "422",
                    gjzl_weight: "677.817",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "674.826",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "10",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "422",
                    gjzl_weight: "677.817",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "674.826",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              }
            ]
          },
          //   每日统计
          daytongji: {
            name: "本日统计",
            gptr: "钢坯投入/t",
            gptr_num: "696.437",
            child: {
              gjguige: "综合",
              gjzl_num: "422",
              gjzl_weight: "677.817",
              gpbhg_num: "0",
              gpbhg_weight: "0.000",
              ygbhg_num: "0",
              ygbhg_weight: "0.000",
              hgpyz_weight: "0.000",
              hgpaj_weight: "0.000",
              hgpbj_weight: "0.000",
              yghgp: "674.826",
              fcd_num: "0",
              fcd_weight: "0.000"
            }
          }
        },
        monthsAll: {
          monthData: {
            //   本月统计名字
            title: "本日统计",
            // 牌号数据
            typeName: [
              {
                //牌号的名称
                name: "带肋钢筋直条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "1416.266"
                  },
                  {
                    name: "落地坯量/t",
                    value: "722.921"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "1416.266"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "1003.874"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "12",
                    gjzl_num: "1",
                    gjzl_weight: "1.442",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "1.442",
                    fcd_num: "1",
                    fcd_weight: "1.442"
                  },
                  {
                    gjguige: "14",
                    gjzl_num: "406",
                    gjzl_weight: "938.949",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "2",
                    ygbhg_weight: "4.516",
                    hgpyz_weight: "896.194",
                    hgpaj_weight: "6.871",
                    hgpbj_weight: "23.713",
                    yghgp: "934.433",
                    fcd_num: "6",
                    fcd_weight: "7.655"
                  },
                  {
                    gjguige: "16",
                    gjzl_num: "593",
                    gjzl_weight: "1389.488",
                    gpbhg_num: "28",
                    gpbhg_weight: "64.633",
                    ygbhg_num: "55",
                    ygbhg_weight: "131.848",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "39.217",
                    hgpbj_weight: "155.104",
                    yghgp: "1257.640",
                    fcd_num: "7",
                    fcd_weight: "10.646"
                  },
                  {
                    gjguige: "18",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "20",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "22",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "25",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "1000",
                    gjzl_weight: "2329.879",
                    gpbhg_num: "28",
                    gpbhg_weight: "64.633",
                    ygbhg_num: "55",
                    ygbhg_weight: "131.848",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "39.217",
                    hgpbj_weight: "155.104",
                    yghgp: "1257.640",
                    fcd_num: "7",
                    fcd_weight: "10.646"
                  }
                ]
              },
              {
                //牌号的名称
                name: "光园钢筋盘条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "落地坯量/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "0.000"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "0.000"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "6",
                    gjzl_num: "320",
                    gjzl_weight: "509.920",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "509.290",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "6.5",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "8",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "10",
                    gjzl_num: "0",
                    gjzl_weight: "0.000",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "0.000",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "320",
                    gjzl_weight: "509.290",
                    gpbhg_num: "0",
                    gpbhg_weight: "0.000",
                    ygbhg_num: "0",
                    ygbhg_weight: "0.000",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "509.290",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              },
              {
                //牌号的名称
                name: "带肋钢筋盘条",
                // 钢材投入量
                gptrl: [
                  {
                    name: "热送坯量/t",
                    value: "4621.768"
                  },
                  {
                    name: "落地坯量/t",
                    value: "1089.799"
                  },
                  {
                    name: "棒材热送投入/t",
                    value: "4621.768"
                  },
                  {
                    name: "棒材冷坯投入/t",
                    value: "1066.104"
                  }
                ],
                // 后面表格的数据
                child: [
                  {
                    gjguige: "6",
                    gjzl_num: "557",
                    gjzl_weight: "895.076",
                    gpbhg_num: "1",
                    gpbhg_weight: "1.628",
                    ygbhg_num: "5",
                    ygbhg_weight: "6.288",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "888.788",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "8",
                    gjzl_num: "2556",
                    gjzl_weight: "4118.139",
                    gpbhg_num: "5",
                    gpbhg_weight: "8.013",
                    ygbhg_num: "20",
                    ygbhg_weight: "23.878",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "4094.261",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "10",
                    gjzl_num: "342",
                    gjzl_weight: "554.262",
                    gpbhg_num: "3",
                    gpbhg_weight: "4.482",
                    ygbhg_num: "3",
                    ygbhg_weight: "4.189",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "550.073",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  },
                  {
                    gjguige: "小计",
                    gjzl_num: "3455",
                    gjzl_weight: "5567.477",
                    gpbhg_num: "9",
                    gpbhg_weight: "14.483",
                    ygbhg_num: "28",
                    ygbhg_weight: "34.355",
                    hgpyz_weight: "0.000",
                    hgpaj_weight: "0.000",
                    hgpbj_weight: "0.000",
                    yghgp: "5533.122",
                    fcd_num: "0",
                    fcd_weight: "0.000"
                  }
                ]
              }
            ]
          },
          //   每月统计
          monthtongji: {
            name: "本日统计",
            gptr: "钢坯投入/t",
            gptr_num: "8108.012",
            child: {
              gjguige: "综合",
              gjzl_num: "4775",
              gjzl_weight: "8406.646",
              gpbhg_num: "37",
              gpbhg_weight: "79.116",
              ygbhg_num: "85",
              ygbhg_weight: "170.719",
              hgpyz_weight: "896.194",
              hgpaj_weight: "46.088",
              hgpbj_weight: "178.817",
              yghgp: "8235.927",
              fcd_num: "14",
              fcd_weight: "19.743"
            }
          }
        },
        brgptj: {
          //   钢坯入库
          in: {
            name: "钢坯入库",
            data: [
              {
                guige: "SY2#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY2#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY3#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY4#",
                num: "780.0",
                weight: "1272.180"
              },
              {
                guige: "SY1#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "合计",
                num: "780.0",
                weight: "1272.180"
              }
            ]
          },
          // 钢坯出库
          out: {
            name: "钢坯出库",
            data: [
              {
                guige: "SY2#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY2#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY3#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "SY4#",
                num: "427.0",
                weight: "696.437"
              },
              {
                guige: "SY1#",
                num: "0.0",
                weight: "0.000"
              },
              {
                guige: "合计",
                num: "427.0",
                weight: "696.437"
              }
            ]
          }
        },
        // 备注
        remark: {
          // 电耗
          dianhao: [
            {
              name: "加热电耗",
              value: ""
            },
            {
              name: "轧制电耗",
              value: ""
            },
            {
              name: "总电耗",
              value: ""
            },
            {
              name: "吨钢加热电耗",
              value: ""
            },
            {
              name: "吨钢轧制电耗",
              value: ""
            },
            {
              name: "吨钢生产电耗",
              value: ""
            }
          ],
          // 工作记录
          work: [
            {
              name: "开机时间",
              value: "15:15"
            },
            {
              name: "停机时间",
              value: "14:25"
            },
            {
              name: "生产时长（分钟）",
              value: "490"
            },
            {
              name: "故障时长（分钟）",
              value: "900"
            },
            {
              name: "作业率",
              value: "35.25"
            }
          ],
          // 备注信息
          text:
            "线材投入热坯投入410吨668.71吨，冷坯投入17支27.727吨，轧钢原因不合格为1件多头1.55吨，2件重量轻1.441吨."
        },
        // 其他部分
        other: [
          {
            name: "jzqll",
            value: ""
          },
          {
            name: "kzrhtp",
            value: ""
          },
          {
            name: "brygzf",
            value: "5.0"
          },
          {
            name: "byygzf",
            value: "22.0"
          },
          {
            name: "brlgsd",
            value: ""
          },
          {
            name: "bylgsd",
            value: "4.5"
          }
        ]
      }
    };
  },
  methods: {
    //   本日统计和本月统计合并行规则
    dayMonth() {
      let data = this.guige1;
      let nameArr = {};
      let typeArr = {};
      //   统计本日统计和本月统计需要多少行
      for (let i = 0; i < data.length; i++) {
        if (nameArr[data[i].name]) {
          nameArr[data[i].name] = nameArr[data[i].name] + 1;
        } else {
          nameArr[data[i].name] = 1;
        }
        // 统计每日统计和本月统计的每个牌号需要占多少行
        if (typeArr[data[i].name + data[i].typeName]) {
          typeArr[data[i].name + data[i].typeName] =
            typeArr[data[i].name + data[i].typeName] + 1;
        } else {
          typeArr[data[i].name + data[i].typeName] = 1;
        }
      }
      for (let key in typeArr) {
        console.log("key是", key, typeArr[key]);
      }
      this.nameObjKey = nameArr;
      this.typeObjKey = typeArr;
      console.log("this.nameObjKey", this.nameObjKey);
      console.log("this.typeObjKey", this.typeObjKey);
      console.log("nameArr", nameArr, typeArr);
    },

    //  合并列
    // 合并本日统计的列
    arraySpanMethod({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 0) {
        if (rowIndex === 0) {
          return [this.nameObjKey["本日统计"], 1];
        } else if (rowIndex === this.nameObjKey["本日统计"]) {
          return [this.nameObjKey["本月统计"], 1];
        } else {
          return [0, 0];
        }
      }
      // 合并牌号的列
      if (
        columnIndex === 1 ||
        columnIndex === 2 ||
        columnIndex === 3 ||
        columnIndex === 4 ||
        columnIndex === 5 ||
        columnIndex === 19 ||
        columnIndex === 20 ||
        columnIndex === 21 ||
        columnIndex === 22
      ) {
        // 统计第几行开始合并的数组 arr=[0,7,11,15,19,23]
        let arr=[0] ;
        // 统计合并多少行 arr=[7,4,3,7,4,3]
        let arrTwo=[];
        for(let key in this.typeObjKey){
          arrTwo.push(this.typeObjKey[key])
        };
        for(let i = 1;i<arrTwo.length;i++){
          // 通过 合并行内个数组来计算 下个要开始合并的行在哪
          arr.push(arrTwo[i-1]+arr[arr.length-1])
        }
        // 判断这行是不是需要合并的行 的方法
        function rowBool(index){
          let bool = false;
          for(let i = 0;i<arr.length;i++){
            if(arr[i] === rowIndex){
              bool=true;
              break
            }
          }
          return bool

        }
        if(rowBool(rowIndex)){
          // 如果这行是需要合并的行
            for(let i =0;i<arr.length;i++){
              // 找到 这行需要合并的行数 进行合并
              if(rowIndex===arr[i]){
                return [arrTwo[i],1]
              }
            }
        }else{
          return [0,0]
        }


        // if (rowIndex === 0) {
        //   return [this.typeObjKey["本日统计带肋钢筋直条"], 1];
        // } else if (rowIndex === this.typeObjKey["本日统计带肋钢筋直条"]) {
        //   return [this.typeObjKey["本日统计光圆钢筋盘条"], 1];
        // } else if (
        //   rowIndex ===
        //   this.typeObjKey["本日统计带肋钢筋直条"] +
        //     this.typeObjKey["本日统计光圆钢筋盘条"]
        // ) {
        //   return [this.typeObjKey["本日统计带肋钢筋盘条"], 1];
        // } else if (
        //   rowIndex ===
        //   this.typeObjKey["本日统计带肋钢筋直条"] +
        //     this.typeObjKey["本日统计光圆钢筋盘条"] +
        //     this.typeObjKey["本日统计带肋钢筋盘条"]
        // ) {
        //   return [this.typeObjKey["本月统计带肋钢筋直条"], 1];
        // } else if (
        //   rowIndex ===
        //   this.typeObjKey["本日统计带肋钢筋直条"] +
        //     this.typeObjKey["本日统计光圆钢筋盘条"] +
        //     this.typeObjKey["本日统计带肋钢筋盘条"] +
        //     this.typeObjKey["本月统计带肋钢筋直条"]
        // ) {
        //   return [this.typeObjKey["本月统计光圆钢筋盘条"], 1];
        // } else if (
        //   rowIndex ===
        //   this.typeObjKey["本日统计带肋钢筋直条"] +
        //     this.typeObjKey["本日统计光圆钢筋盘条"] +
        //     this.typeObjKey["本日统计带肋钢筋盘条"] +
        //     this.typeObjKey["本月统计带肋钢筋直条"] +
        //     this.typeObjKey["本月统计光圆钢筋盘条"]
        // ) {
        //   return [this.typeObjKey["本月统计带肋钢筋盘条"], 1];
        // } else {
        //   return [0, 0];
        // }
      }
    },
  }
  // 保留数字三位小数方法
};
</script>

<style>
.el-table:not(:nth-of-type(1)) thead {
  display: none;
}
</style>
