<template>
  <div class="container">
  <div>
    <el-table
        :data="morkData.todyStatisticsArr"
        :span-method="objectSpanMethod"
        style="width: 100%">
        <el-table-column prop="name" label="统计日期"></el-table-column>
        <el-table-column prop="typeName" label="牌号"></el-table-column>
        <el-table-column label="钢坯投入/t">
          <el-table-column label="棒材钢坯投入量">
            <el-table-column prop="billetInputWeight1" label="热送坯量/t"> </el-table-column>
            <el-table-column prop="billetInputWeight2" label="落地坯量/t"> </el-table-column>
            <el-table-column prop="billetInputWeight3" label="热送投入/t"> </el-table-column>
            <el-table-column prop="billetInputWeight4" label="冷坯投入/t"> </el-table-column>
          </el-table-column>
        </el-table-column>
        <el-table-column prop="Specifications" label="钢筋规格"></el-table-column>
        <el-table-column label="钢筋产量/t">
          <el-table-column label="钢筋总量">
            <el-table-column prop="stellTarNumbe" label="件数"> </el-table-column>
            <el-table-column prop="stellTarWeight" label="重量/t"> </el-table-column>
          </el-table-column>
          <el-table-column label="钢坯原因不合格品">
            <el-table-column prop="stellTarNumbe" label="件数"> </el-table-column>
            <el-table-column prop="billetUnqualifiedWeight" label="重量/t"> </el-table-column>
          </el-table-column>
          <el-table-column label="轧钢原因不合格品">
            <el-table-column prop="rollingUnqualifiedNumbe" label="件数"> </el-table-column>
            <el-table-column prop="rollingUnqualifiedWeight" label="重量/t"> </el-table-column>
          </el-table-column>
          <el-table-column label="合格品">
            <el-table-column prop="qualifiedExcellent" label="优质品重量/t"> </el-table-column>
            <el-table-column prop="qualifiedABest" label="A级品重量/t"> </el-table-column>
            <el-table-column prop="qualifiedBBest" label="B级品重量/t"> </el-table-column>
          </el-table-column>
          <el-table-column prop="rollingQualified" label="轧钢合格品"> </el-table-column>
          <el-table-column label="非定尺">
            <el-table-column prop="UnfixedNumbe" label="件数"> </el-table-column>
            <el-table-column prop="UnfixedWeight" label="重量/t"> </el-table-column>
          </el-table-column>
          <el-table-column prop="zhl1" label="轧钢合格率/%"> </el-table-column>
          <el-table-column prop="zhl2" label="总成材率/%"> </el-table-column>
          <el-table-column prop="zhl3" label="定尺率/%"> </el-table-column>
          <el-table-column prop="zhl4" label="热送率/%"></el-table-column>
        </el-table-column>
    </el-table> 
  </div>
  <div>
    <!--本日钢坯统计和备注-->
    <el-table
        :data="[{}]"
        style="width: 100%;">
        <el-table-column prop="name" label="本日钢坯统计">
          <template slot-scope="scope">
            <!-- <table>
              <tr>
                <td>钢坯入库</td>
                <td>
                  <el-table
                    :data="morkData.todyStatisticsArr"
                    show-summary
                    style="width: 100%">
                    <el-table-column prop="name" label="规格"></el-table-column>
                    <el-table-column prop="typeName" label="根数"></el-table-column>
                    <el-table-column label="重量/t"></el-table-column>
                  </el-table>
                </td>
                <td>钢坯出库</td>
                <td>
                  <el-table
                    :data="morkData.todyStatisticsArr"
                    show-summary
                    style="width: 100%">
                    <el-table-column prop="name" label="规格"></el-table-column>
                    <el-table-column prop="typeName" label="根数"></el-table-column>
                    <el-table-column label="重量/t"></el-table-column>
                  </el-table>
                </td>
              </tr>
            </table> -->
            <dl class="table-inout">
              <dt>钢坯入库</dt>
              <dt>
                <el-table
                  :data="morkData.todyStatisticsArr"
                  show-summary
                  style="width: 100%">
                  <el-table-column prop="name" label="规格"></el-table-column>
                  <el-table-column prop="typeName" label="根数"></el-table-column>
                  <el-table-column label="重量/t"></el-table-column>
                </el-table>
              </dt>
              <dt>钢坯出库</dt>
              <dt>
                <el-table
                  :data="morkData.todyStatisticsArr"
                  show-summary
                  style="width: 100%">
                  <el-table-column prop="name" label="规格"></el-table-column>
                  <el-table-column prop="typeName" label="根数"></el-table-column>
                  <el-table-column label="重量/t"></el-table-column>
                </el-table>
              </dt>
            </dl>
          </template>
        </el-table-column>
        <el-table-column label="备注"></el-table-column>
    </el-table>
  </div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      tableData3: [
        {
          date: '2016-05-03',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }, {
          date: '2016-05-02',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }, {
          date: '2016-05-04',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }, {
          date: '2016-05-01',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }, {
          date: '2016-05-08',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }, {
          date: '2016-05-06',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }, {
          date: '2016-05-07',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }
      ],
      // 日月总条数
      nameObjKey: {},
      // 每日每月分类条数
      typeObjKey: {},
      // 数据
      morkData: {
            name: "轧钢厂生产日报表",
            //本日统计
            todyStatisticsArr:[
              {
                  name: '本日统计',
                  typeName: '带肋钢筋直条',
                  // 钢坯投入
                  billetInputWeight1: 0,
                  billetInputWeight2: 0,
                  billetInputWeight3: 0,
                  billetInputWeight4: 0,
                  // 钢筋规格
                  Specifications: 6,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: 12,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: 16,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: 18,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: 20,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: 22,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: '小计',
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '光圆钢筋盘条',
                  // 钢筋规格
                  Specifications: 18,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '光圆钢筋盘条',
                  // 钢筋规格
                  Specifications: 20,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '光圆钢筋盘条',
                  // 钢筋规格
                  Specifications: 22,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '光圆钢筋盘条',
                  // 钢筋规格
                  Specifications: '小计',
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋盘条',
                  // 钢坯投入
                  billetInputWeight1: 0,
                  billetInputWeight2: 0,
                  billetInputWeight3: 0,
                  billetInputWeight4: 0,
                  // 钢筋规格
                  Specifications: 6,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋盘条',
                  // 钢坯投入
                  billetInputWeight1: 0,
                  billetInputWeight2: 0,
                  billetInputWeight3: 0,
                  billetInputWeight4: 0,
                  // 钢筋规格
                  Specifications: 6,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋盘条',
                  // 钢筋规格
                  Specifications: '小计',
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本日统计',
                  typeName: '带肋钢筋盘条',
                  // 钢筋规格
                  Specifications: '综合',
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: 18,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: 20,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: 22,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '带肋钢筋直条',
                  // 钢筋规格
                  Specifications: '小计',
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '光圆钢筋盘条',
                  // 钢筋规格
                  Specifications: 18,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '光圆钢筋盘条',
                  // 钢筋规格
                  Specifications: 20,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '光圆钢筋盘条',
                  // 钢筋规格
                  Specifications: 22,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '光圆钢筋盘条',
                  // 钢筋规格
                  Specifications: '小计',
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '带肋钢筋盘条',
                  // 钢筋规格
                  Specifications: 18,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '带肋钢筋盘条',
                  // 钢筋规格
                  Specifications: 20,
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '带肋钢筋盘条',
                  // 钢筋规格
                  Specifications: '小计',
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              },
              {
                  name: '本月统计',
                  typeName: '带肋钢筋盘条',
                  // 钢筋规格
                  Specifications: '综合',
                  //  钢筋总量件数
                  stellTarNumbe: 0,
                  //  钢筋总量重量
                  stellTarWeight: 0,
                  // 钢坯原因不合格品件数
                  billetUnqualifiedNumbe: 0,
                  // 钢坯原因不合格品重量
                  billetUnqualifiedWeight: 0,
                  // 轧钢原因不合格品件数
                  rollingUnqualifiedNumbe: 0,
                  // 轧钢原因不合格品重量
                  rollingUnqualifiedWeight: 0,
                  // 合格品优质品重量
                  qualifiedExcellent: 0,
                  // 合格品A重量
                  qualifiedABest: 0,
                  // 合格品B重量
                  qualifiedBBest: 0,
                  // 轧钢合格品
                  rollingQualified: 0,
                  // 非定尺件数
                  UnfixedNumbe: 0,
                  // 非定尺重量
                  UnfixedWeight: 0,
                  zhl1: 0,
                  zhl2: 0,
                  zhl3: 0,
                  zhl4: 0,
              }
            ],
            todyStatistics: [{
                name: "本日统计",
                //  牌号
                brand: [{
                    name: '带肋钢筋直条',
                    // 钢坯投入
                    billetInput: [{
                        name: "热送坯量",
                        weight: 0
                    }, {
                        name: "落地坯量",
                        weight: 0
                    }, {
                        name: "棒材热送投入",
                        weight: 0
                    }, {
                        name: "棒材冷坯投入",
                        weight: 0
                    }],
                    child: [{
                        // 钢筋规格
                        Specifications: 12,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 14,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 16,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 18,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 20,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 22,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 25,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }],
                    Subtotal: {
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,
                    }
                }, {
                    name: '光圆钢筋盘条',
                    // 钢坯投入
                    billetInput: [{
                        name: "热送坯量",
                        weight: 0
                    }, {
                        name: "落地坯量",
                        weight: 0
                    }, {
                        name: "热送投入",
                        weight: 0
                    }, {
                        name: "冷坯投入",
                        weight: 0
                    }],
                    child: [{
                        // 钢筋规格
                        Specifications: 6,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 6.5,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 8,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 10,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }],
                    Subtotal: {
                        // 钢筋规格
                        Specifications: 10,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,
                    },

                }, {
                    name: '带肋钢筋盘条',
                    // 钢坯投入
                    billetInput: [{
                        name: "热送坯量",
                        weight: 668.71
                    }, {
                        name: "落地坯量",
                        weight: 603.47
                    }, {
                        name: "线材热送投入",
                        weight: 668.71
                    }, {
                        name: "线材冷坯投入",
                        weight: 27.727
                    }],
                    child: [{
                        // 钢筋规格
                        Specifications: 6,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 8,
                        //  钢筋总量件数
                        stellTarNumbe: 422,
                        //  钢筋总量重量
                        stellTarWeight: 677.817,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 3,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 2.991,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 674.826,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 10,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }],
                    // 小计
                    Subtotal: {

                        //  钢筋总量件数
                        stellTarNumbe: 422,
                        //  钢筋总量重量
                        stellTarWeight: 677.817,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 3,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 2.991,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 674.826,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,
                    },

                }],
                // 综合本日统
                comprehensive: {
                    // 钢坯投入
                    billetInput: 696.437,
                    // 钢筋规格
                    Specifications: 6,
                    //  钢筋总量件数
                    stellTarNumbe: 0,
                    //  钢筋总量重量
                    stellTarWeight: 0,
                    // 钢坯原因不合格品件数
                    billetUnqualifiedNumbe: 0,
                    // 钢坯原因不合格品重量
                    billetUnqualifiedWeight: 0,
                    // 轧钢原因不合格品件数
                    rollingUnqualifiedNumbe: 0,
                    // 轧钢原因不合格品重量
                    rollingUnqualifiedNumbe: 0,
                    // 合格品优质品重量
                    qualifiedExcellent: 0,
                    // 合格品A重量
                    qualifiedABest: 0,
                    // 合格品B重量
                    qualifiedBBest: 0,
                    // 轧钢合格品
                    rollingQualified: 0,
                    // 非定尺件数
                    UnfixedNumbe: 0,
                    // 非定尺重量
                    UnfixedWeight: 0,
                }


            }],
            // 本月统计
            monthStatistics: [{
                name: "本月统计",
                //  牌号
                brand: [{
                    name: '带肋钢筋直条',
                    // 钢坯投入
                    billetInput: [{
                        name: "热送坯量",
                        weight: 0
                    }, {
                        name: "落地坯量",
                        weight: 0
                    }, {
                        name: "热送投入",
                        weight: 0
                    }, {
                        name: "冷坯投入",
                        weight: 0
                    }],
                    child: [{
                        // 钢筋规格
                        Specifications: 12,
                        //  钢筋总量件数
                        stellTarNumbe: 1,
                        //  钢筋总量重量
                        stellTarWeight: 1.442,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 1.442,
                        // 非定尺件数
                        UnfixedNumbe: 1,
                        // 非定尺重量
                        UnfixedWeight: 1.442,

                    }, {
                        // 钢筋规格
                        Specifications: 14,
                        //  钢筋总量件数
                        stellTarNumbe: 406,
                        //  钢筋总量重量
                        stellTarWeight: 938.949,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 2,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 4.516,
                        // 合格品优质品重量
                        qualifiedExcellent: 896.194,
                        // 合格品A重量
                        qualifiedABest: 6.871,
                        // 合格品B重量
                        qualifiedBBest: 23.713,
                        // 轧钢合格品
                        rollingQualified: 934.443,
                        // 非定尺件数
                        UnfixedNumbe: 1,
                        // 非定尺重量
                        UnfixedWeight: 1.442,

                    }, {
                        // 钢筋规格
                        Specifications: 16,
                        //  钢筋总量件数
                        stellTarNumbe: 539,
                        //  钢筋总量重量
                        stellTarWeight: 138.448,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 28,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 64.663,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 55,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 131.848,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 39.317,
                        // 合格品B重量
                        qualifiedBBest: 155.104,
                        // 轧钢合格品
                        rollingQualified: 1257.640,
                        // 非定尺件数
                        UnfixedNumbe: 7,
                        // 非定尺重量
                        UnfixedWeight: 10.646,

                    }, {
                        // 钢筋规格
                        Specifications: 18,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 20,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 22,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 25,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }],
                    //  小计
                    Subtotal: {
                        //  钢筋总量件数
                        stellTarNumbe: 1000,
                        //  钢筋总量重量
                        stellTarWeight: 2329.879,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 28,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 64.633,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 57,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 136.364,
                        // 合格品优质品重量
                        qualifiedExcellent: 896.194,
                        // 合格品A重量
                        qualifiedABest: 46.088,
                        // 合格品B重量
                        qualifiedBBest: 178.817,
                        // 轧钢合格品
                        rollingQualified: 2193.515,
                        // 非定尺件数
                        UnfixedNumbe: 14,
                        // 非定尺重量
                        UnfixedWeight: 19.743,
                    }
                }, {
                    name: '光圆钢筋盘条',
                    // 钢坯投入
                    billetInput: [{
                        name: "热送坯量",
                        weight: 0
                    }, {
                        name: "落地坯量",
                        weight: 0
                    }, {
                        name: "热送投入",
                        weight: 0
                    }, {
                        name: "冷坯投入",
                        weight: 0
                    }],
                    child: [{
                        // 钢筋规格
                        Specifications: 6,
                        //  钢筋总量件数
                        stellTarNumbe: 320,
                        //  钢筋总量重量
                        stellTarWeight: 509.290,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 509.290,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 6.5,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 8,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 10,
                        //  钢筋总量件数
                        stellTarNumbe: 0,
                        //  钢筋总量重量
                        stellTarWeight: 0,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 0,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }],
                    // 小计
                    Subtotal: {

                        //  钢筋总量件数
                        stellTarNumbe: 320,
                        //  钢筋总量重量
                        stellTarWeight: 509.290,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 0,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 0,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 0,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 0,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 509.290,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,
                    },

                }, {
                    name: '带肋钢筋盘条',
                    // 钢坯投入
                    billetInput: [{
                        name: "热送坯量",
                        weight: 4621.768,

                    }, {
                        name: "落地坯量",
                        weight: 1089.799,

                    }, {
                        name: "热送投入",
                        weight: 4621.768

                    }, {
                        name: "冷坯投入",
                        weight: 1066.104,

                    }],
                    child: [{
                        // 钢筋规格
                        Specifications: 6,
                        //  钢筋总量件数
                        stellTarNumbe: 557,
                        //  钢筋总量重量
                        stellTarWeight: 895.076,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 1,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 1.628,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 5,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 6.288,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 888.788,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 8,
                        //  钢筋总量件数
                        stellTarNumbe: 2556,
                        //  钢筋总量重量
                        stellTarWeight: 4118.139,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 5,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 8.013,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 20,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 23.878,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 4094.261,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }, {
                        // 钢筋规格
                        Specifications: 10,
                        //  钢筋总量件数
                        stellTarNumbe: 342,
                        //  钢筋总量重量
                        stellTarWeight: 554.262,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 3,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 4.842,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 3,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 4.189,
                        // 合格品优质品重量
                        qualifiedExcellent: 0,
                        // 合格品A重量
                        qualifiedABest: 0,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 550.073,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,

                    }],
                    // 小计
                    Subtotal: {
                        //  钢筋总量件数
                        stellTarNumbe: 3455,
                        //  钢筋总量重量
                        stellTarWeight: 5567.477,
                        // 钢坯原因不合格品件数
                        billetUnqualifiedNumbe: 9,
                        // 钢坯原因不合格品重量
                        billetUnqualifiedWeight: 14.483,
                        // 轧钢原因不合格品件数
                        rollingUnqualifiedNumbe: 3,
                        // 轧钢原因不合格品重量
                        rollingUnqualifiedNumbe: 2.991,
                        // 合格品优质品重量
                        qualifiedExcellent: 28,
                        // 合格品A重量
                        qualifiedABest: 34.355,
                        // 合格品B重量
                        qualifiedBBest: 0,
                        // 轧钢合格品
                        rollingQualified: 5533.122,
                        // 非定尺件数
                        UnfixedNumbe: 0,
                        // 非定尺重量
                        UnfixedWeight: 0,
                    },
                }],
                // 综合本日统
                comprehensive: {
                    // 钢坯投入
                    billetInput: 8108.012,

                    //  钢筋总量件数
                    stellTarNumbe: 4775,
                    //  钢筋总量重量
                    stellTarWeight: 8406.646,
                    // 钢坯原因不合格品件数
                    billetUnqualifiedNumbe: 37,
                    // 钢坯原因不合格品重量
                    billetUnqualifiedWeight: 79.116,
                    // 轧钢原因不合格品件数
                    rollingUnqualifiedNumbe: 85,
                    // 轧钢原因不合格品重量
                    rollingUnqualifiedNumbe: 170.719,
                    // 合格品优质品重量
                    qualifiedExcellent: 896.194,
                    // 合格品A重量
                    qualifiedABest: 46.088,
                    // 合格品B重量
                    qualifiedBBest: 178.817,
                    // 轧钢合格品
                    rollingQualified: 8235.927,
                    // 非定尺件数
                    UnfixedNumbe: 14,
                    // 非定尺重量
                    UnfixedWeight: 19.743,
                }
            }],
            // 本日钢坯统计
            daygangStatistics: [{
                name: "本日钢坯统计",
                // 钢坯入库
                BilletIn: [{
                    name: ["规格", "根数", "重量"],
                    child: [{
                        specifications: "SY2#",
                        root: 0,
                        weight: "0.000"

                    }, {
                        specifications: "SY3#",
                        root: 0,
                        weight: "0.000"

                    }, {
                        specifications: "SY4#",
                        root: 780.0,
                        weight: 1272.180,

                    }, {
                        specifications: "SY1#",
                        root: 780.0,
                        weight: 0,


                    }],
                    // 合计
                    total: {
                        root: 780.0,
                        weight: 1272.180,
                    }
                }],

                // 钢坯出库
                BilletOut: [{
                    name: ["规格", "根数", "重量"],
                    child: [{
                        specifications: "SY2#",
                        root: 0,
                        weight: "0.000"

                    }, {
                        specifications: "SY3#",
                        root: 0,
                        weight: "0.000"

                    }, {
                        specifications: "SY4#",
                        root: 427.0,
                        weight: 696.437,

                    }, {
                        specifications: "SY1#",
                        root: 0,
                        weight: 0,


                    }],
                    // 合计
                    total: {
                        root: 427.0,
                        weight: 696.437,
                    }
                }],
            }],
            // 备注                       
            remarks: [{
                // 电耗                   
                powerConsumption: [{
                        name: "加热电耗",
                        Value: "",

                    }, {
                        name: "轧制电耗",
                        Value: "",

                    }, {
                        name: "总电耗",
                        Value: "",

                    }, {
                        name: "吨钢轧制电耗",
                        Value: "",

                    }, {
                        name: "吨钢生产电耗",
                        Value: "",

                    }





                ]

            }, {
                time: [{
                    startTime: "开机时间",
                    Value: "15:15"
                }, {
                    stopTime: "停机时间",
                    Value: "14:25"
                }, {
                    productionTime: "生产时长(分钟)",
                    Value: "490"
                }, {
                    faultTime: "故障时长(分钟)",
                    Value: "900"
                }, {
                    task: "作业率%",
                    Value: "35.25"
                }]
            }, {
                name: "线材投入热坯投入410吨668.71吨，冷坯投入17支27.727吨，轧钢原因不合格为1件多头1.55吨，2件重量轻1.441吨."
            }],
            // 截止
            end: [{
                jzdyrkqtqw: "截止当月入库切头切尾、冷条、乱丝/t",
                Value: ""
            }, {
                jzdyrkyhtp: "截止当月入库氧化铁皮/t",
                Value: ""
            }, {
                brzgzf: "本日轧钢轧废/支",
                Value: "5.0"
            }, {
                byzgzf: "本月轧钢轧废/支",
                Value: "22,0"
            }, {
                brlgsd: "本日烂钢碎断/支",
                Value: ""
            }, {
                bylgsd: "本月烂钢碎断/支",
                Value: "4.5"
            }],
            zbr: "制表：李玉星",
            shr: "审核：沈庆登"
      }
    }
  },
  created() {
    // console.log('this.morkData::', this.morkData)
    this.dayMonth()
  },
  mounted() {
      // 注意一定要保证DOM渲染完成后在进行合并操作，否则会找不到元素
      // this.$nextTick(function(){
      //   this.setColSpan();
      // })
  },
  methods:{
    setColSpan:function() {
      // console.log(document.getElementsByClassName("el-table__header"))
      // 获取表头的所有单元格
      var x = document.getElementsByClassName("el-table__header")[0].rows[0].cells
      // 将第二列表头单元格的colSpan设为2
      x[2].colSpan = 2
      // 将第三列表头单元格的display设为none
      x[3].style.display = 'none'
    },
    // 本日月合并行规则
    dayMonth(){
      var d = this.morkData.todyStatisticsArr;
      var nameArr = {}
      var typeArr = {}
      for(var i = 0;i<d.length;i++){
        if(nameArr[d[i].name]) nameArr[d[i].name] = nameArr[d[i].name]+1
        else nameArr[d[i].name] = 1
        if(typeArr[d[i].name+d[i].typeName]) typeArr[d[i].name+d[i].typeName] = typeArr[d[i].name+d[i].typeName]+1
        else typeArr[d[i].name+d[i].typeName] = 1
      }
      for( var key in typeArr){
        console.log('key:',key,typeArr[key])
      }
      this.nameObjKey = nameArr
      this.typeObjKey = typeArr
      console.log('nameArr:',nameArr,typeArr)
    },
    objectSpanMethod({ row, column, rowIndex, columnIndex }) {
      // console.log('row, column, rowIndex, columnIndex::', row, column, rowIndex, columnIndex)
      
      // 合并行
      // if (rowIndex % 2 === 0) {
      //   if (columnIndex === 0) {
      //     return [1, 2];
      //   } else if (columnIndex === 1) {
      //     return [0, 0];
      //   }
      // }
      // 合并第一列
      if (columnIndex === 0) {
        if (rowIndex === 0) {
          return [this.nameObjKey['本日统计'], 1]
        }else if(rowIndex === this.nameObjKey['本日统计']){
          return [this.nameObjKey['本月统计'], 1]
        }else {
          return [0, 0]
        }
      }
      // 合并列
      if (columnIndex === 1 ||columnIndex === 2 ||columnIndex === 3 ||columnIndex === 4 ||columnIndex === 5 || columnIndex === 19|| columnIndex === 20|| columnIndex === 21|| columnIndex === 22) {
        var arr = [0] // 每个牌号从第几行开始合并 arr=[0,7,11,15,19,23]
        var arrTwo = [] // 每个牌号合并多少行 arrTwo=[7,4,4,4,4,4]
        for(var key in this.typeObjKey){
            // 得到每个牌号合并多少行
          arrTwo.push(this.typeObjKey[key])
        }
        // 得到 都从第几行开始合并
        for(var i =1;i<arrTwo.length;i++){
          arr.push(arrTwo[i-1]+arr[arr.length-1])
        }
        console.log('arr',arr),
        console.log('arrTwo',arrTwo)
        // 算每个牌号所有数据的行数
        function rowBool(index){
          var bool = false
          for(var i = 0; i<arr.length;i++){
            if(arr[i] == index){
              bool = true;
              break;
            }
          }
          return bool
        }
        if(rowBool(rowIndex)){
          // 所有牌号动态合并行
          for(var i = 0;i<arr.length;i++){
            //   判断这行对应的是数组的第几行
            if(rowIndex === arr[i]){
                // 进行合并
              return [arrTwo[i],1]
            }
          }
          // if (rowIndex === 0) { return [7,1] } 
          // if(rowIndex ===7){ return [4,1] }
          // if(rowIndex ===11){ return [4,1] }
          // if(rowIndex ===15){ return [4,1] }
          // if(rowIndex ===19){ return [4,1] }
          // if(rowIndex ===23){ return [4,1] }
        }
        else { return [0,0] }


      }
    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
}
.aaa{
  display: none;
}
.table-inout{
  display: flex;
}
</style>
